/*this is for search icon*/
.weather {
    /* your existing styles */
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 8px;
    font-size: 20px;
  }
  
  .search-bar img {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin-left: 0px; /* Space between input and icon */
  }
  
  .weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#e2d4ff,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #62626;
    background: #ebfffc;
    font-size: 18px;
  }
  .search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50px;
    background: #ebfffc;
    cursor: pointer;
  }
  /*adjust the size of clear icon*/
  .weather-icon {
    width: 150px; /* Slightly larger size */
    height: 150px; /* Keep the height consistent with width */
    margin: 150px 0; /* Adjust margins as needed */
  }
  .weather-icon{
    width: 150px;
    margin: 20px ;
  }
  .temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
  }
  .dihu{
    color: #fff;
    font-size: 30px;

  }
  .hum-ic { 
    width: 30px; /* Set width to match other icons */
    height: 30px; /* Set height to match other icons */
    margin: 0 5px; /* Adjust as needed for spacing */
}

  .weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }
  .weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
  }
  .weather-data .col span{
    display: block;
    font-size: 16px;
  }
  .weather-data .col img{
    width: 26px;
    margin-top: 10px;
  }

  

  
  